.draggable {
  position: relative;
  user-select: none;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-weight: bold;
  display: inline;
  border-color: white;
}
.semidraggable { /*wow its exactly the same as draggable*/
  position: relative;
  user-select: none;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-weight: bold;
  display: inline;
  border-color: white;
}
.green {
  background-color: lightgreen;
}
.blue {
  background-color: lightblue;
}

* {
  box-sizing: border-box;
}
#editor {
  padding: 15px;
  height: 200px;
}
.header {
  text-align: center;
  font-family: arial;
  background-color: #4286f4;
  color: white;
  padding: 15px;
}
.footer {
  text-align: center;
  font-family: arial;
  background-color: #4286f4;
  color: white;
  padding: 15px
}
.column {
  float: left;
  padding: 15px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.content {
  font-family: arial;
  text-align: center;
  width: 33%;
}
.editor-window {
  margin: 0 auto;
  width: 100%;
}
body {
  margin: 0;
}
